/* Blend settings for overlay layers */
.hlsBlending {
  filter: brightness(140%);
  mix-blend-mode: multiply;
}
.ctrBlending {
  filter: opacity(40%);
  mix-blend-mode: darken;
}

/* Blend settings to make MML map less garish with path overlays */
.mmlBlending {
  filter: grayscale(50%);
  opacity:(70%);
}
